.App {
  text-align: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 15px;
}
.edit {
  color: rgb(9, 128, 233);
  background-color: rgb(4, 245, 44);
  text-decoration: none;
  border: 1px solid;
  padding: 8px;
  border-radius: 10%;
}
h3 {
  background: linear-gradient(90deg, rgba(120,9,121,1) 41%, rgba(0,74,255,1) 100%); 
  padding: 1.5rem;
  text-shadow: 1px 1px 2px white;
}